body,
html {
  height: 100%;
  width: 100%
}

body {
  width: 1050px;
  background-color: #fff;
  background-image: url('../assets/tardis.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -430px;
  top: 178px;
}

#score {
  position: absolute;
  left: 50%;
  margin-left: 250px;
  color: rgba(254, 253, 253, 0.86);
  text-transform: uppercase;
  top: 32px;
  font-size: 30px;
  text-shadow: 0 0 13px #F2EDD7;
}