body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  background-image: url('../assets/tardis.jpg');
  background-position: 50% 0;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  width: 1050px;
}

canvas {
  display: block;
  left: 50%;
  margin-left: -430px;
  position: absolute;
  top: 178px;
}

#score,
#level {
  color: rgba(254, 253, 253, 0.86);
  font-size: 30px;
  left: 50%;
  margin-left: 250px;
  position: absolute;
  text-transform: uppercase;
  text-shadow: 0 0 13px #F2EDD7;
}

#score {
  top: 60px;
}

#level {
  top: 20px;
}

.tardis-lives {
  height: 70px;
  left: 50%;
  margin-left: -450px;
  position: absolute;
  top: 44px;
}

#lives {
  color: rgba(254, 253, 253, 0.86);
  font-size: 30px;
  left: 50%;
  margin-left: -400px;
  position: absolute;
  text-transform: uppercase;
  text-shadow: 0 0 13px #F2EDD7;
  top: 40px;
}

#dalekCount {
  background: transparent;
  border: solid 1px #fff;
  color: rgba(232, 231, 229, 0.67);
  font-size: 22px;
  left: 50%;
  margin-left: -460px;
  padding: 10px;
  position: absolute;
  top: 57px;
  width: 70px;
}